<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web dictaphone</title>
    <link href="styles/app.css" rel="stylesheet" type="text/css">

    <script src="scripts/app.js"></script>
    <script src="scripts/websocket.js"></script>
  </head>

  <body data-timestamp="<%= timestamp %>">
    <div class="wrapper">

      <header>
        <h1>Web dictaphone</h1>
      </header>

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">
<%    for (const clip of clips) { -%>
        <article class="clip">
          <audio controls="" src="/audio/<%- encodeURI(clip.name) %>" preload="none"></audio>
          <p><%= clip.name %></p>
          <button class="delete">Delete</button>
          <p class="text"><%= clip.text %></p>
        </article>
<%    } -%>
      </section>

    </div>

    <label for="toggle">❔</label>
    <input type="checkbox" id="toggle">
    <aside>
      <h2>Information</h2>

      <p><a href="https://github.com/mdn/dom-examples/tree/main/media/web-dictaphone#web-dictaphone">Web dictaphone</a> is built using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>, which provides an easier way to capture Media streams.</p>

      <p>Icon courtesy of <a href="http://findicons.com/search/microphone">Find Icons</a>. Thanks to <a href="http://soledadpenades.com/">Sole</a> for the Oscilloscope code!</p>

      <hr>

      <p><a href="https://github.com/fly-apps/node-dictaphone?tab=readme-ov-file#web-dictaphone-adapted-for-flyio">Node Dictaphone</a> adds:</p>

      <ul>
        <li><p>An <a href="https://expressjs.com/">Express JS</a> application with support for GET, POST, DELETE; including ranges</p></li>
        <li><p>A <a href="https://www.postgresql.org/">PostgreSQL</a> database to persist an ordered list of clips</p></li>
        <li><p>A <a href="https://www.tigrisdata.com/">Tigris</a> bucket for storing audio files</p></li>
        <li><p>An <a href="https://upstash.com/">Upstash</a> Redis db and <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSockets</a> for broadcasting updates</p></li>
      </ul>

      <p>Multiple replicas of this application can be deployed, even in multiple regions.</p>

      <hr>

      <p>When <code>WHISPER_URL</code> is set:</p>

      <ul>
        <li><p>Clips that are stored in S3 Tigris will be sent to the <a href="https://github.com/rubys/cog-whisper/?tab=readme-ov-file#whisper-on-fly-gpus">Cog Whisper</a> application for transcription.</p></li>
        <li><p>Transcription results will be stored in the PostgreSQL database.</p></li>
        <li><p>Database updates will be broadcast to all connected clients.</p></li>
      </ul>
    </aside>
  </body>
</html>
